<h3>Register</h3>

<% if (typeof message !== "undefined" && message) { %>
  <p><%= message %></p>
<% } %>

<form action="/admin/register" method="POST">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Register" class="btn">
</form>

<p>
  Already have an account?
  <a href="/admin">Login</a>
</p>
