<div class="searchBar">
       <div class="container">
              <form action="/search" method="POST" class="search__form" role="search">
                     <input type="search" aria-level="search" id="searchInput"name="searchTerm" placeholder="Search..." required>
                     <button type="submit" class="search__button">Search</button>
       </div>
</div>