<div class="searchBar" id="searchBar">
       <div class="container">
              <form action="/search" method="POST" class="search__form" role="search">
                     <input type="search" aria-level="search" id="searchInput" name="searchTerm" placeholder="Search..." required>
              </form>  
              <div class="searchClose">Close</div>
       </div>
</div>
