 
<div class="author">
       <h1 class="author__heading">Hi ,I am Shovo.</h1>
       <p class="author__body"> AI and Ml enthusiast </p>

</div>
<% if (locals && locals.dbUnavailable) { %>
<p class="article-list__empty">Database not configured. Set <strong>MONGODB_URI</strong> in Vercel to load posts.</p>
<% } %>
<img src="/img/hero-image.webp" alt="hero image" class="hero-image" width="981" height="528">
<section class="articles"> 
       <h2 class="articles_heading"> Latest Posts</h2>
       <ul class="article-ul">
              
              <% (data || []).forEach(Post => { %>
               
              
              
              
              
              
              
       
              <li>
                     <a href="/post/<%= Post._id %>" class="article-list__item">
                            <span><%= Post.title %></span>
                            <span class="article-list__date"><%= Post.createAt.toDateString() %></span>
                            
                     </a>
              </li> 
              <% }); %>

       
       
       
       
       
       
       </ul>
       <% if(nextPage!== null) { %>
       <a href="/?page=<%= nextPage %>" class="pagination">&lt; view order Posts</a>
</section>
       <% } %>
        

              
