 
<div class="author">
       <h1 class="author__heading">Hi ,I am Shovo.</h1>
       <p class="author__body"> AI and Ml enthusiast </p>

</div>
<img src="/img/hero-image.webp" alt="hero image" class="hero-image" width="981" height="528">
<section class="articles"> 
       <h2 class="articles_heading"> Latest Posts</h2>
       <ul class="article-ul">
              <li>
                     <a href="#">
                            <span></span>
                            
                     </a>
              </li> </ul>
</section>